---
title: Comics
pagination:
    enabled: true
    collection: comics
---
{% include top.html %}
<section class="posts">
	{% for page in paginator.posts %}<article>
		<header><h3><a href="{{ page.url  | absolute_url }}">{{ page.title }}</a></h3></header>
		<a href="{{page.url | absolute_url }}" class="image fit"><img src="{{page.image}}" alt="{{page.title}}" /></a>
		<p>{{page.excerpt}}</p>
		<ul class="actions"><li><a href="{{page.url | absolute_url }}" class="button">Full Story</a></li></ul>
	</article>{% endfor %}
</section>
{% include paginate.html %}
{% include bottom.html %}
