---
layout: null
title: ShillyAsh
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2023-04-12
    changefreq: weekly
intro: true
---
{%include top.html %}
	<!-- Featured Post -->

	<!-- Posts -->
	<section class="posts">
		{% assign newbooks = site.books | sort: 'date' | reverse %}
		{% for post in newbooks limit:4 %}{% include brief.html %}{% endfor %}
		{% assign newcomics = site.comics | sort: 'path' | reverse %}
		{% for post in newcomics limit:4 %}{% include brief.html %}{% endfor %}
	</section>

	<!-- Footer -->
	<footer>
		<ul class="actions">
			<li><a href="{{ "/blog/" | absolute_url }}" class="button">More</a></li>
		</ul>
	</footer>
	</div>
				<!-- Footer -->
        {% include foot.html %}
</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
		{% include tracking.html %}
	</body>
</html>
