---
layout: null
title: ShillyAsh
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2023-04-12
    changefreq: weekly
intro: true
---
{% include top.html %}
<!-- Content-->
<div class="wil-content">

	<!-- Section -->
	<section class="awe-section">
		<div class="container">

			<!-- page-title -->
			<div class="page-title">
				<h2 class="page-title__title">{{site.bio}}<br/>

					<!-- typing__module -->
					<!--div class="typing__module">
						<div class="typed-strings"><span>'m a web designer</span><span> do creative</span><span>'m a frontend developer</span>
						</div><span class="typed"></span>
					</div--><!-- End / typing__module -->

				</h2>
				<p class="page-title__text">{{site.description}}</p>
				<div class="page-title__divider"></div>
			</div><!-- End / page-title -->

		</div>
	</section>
	<!-- End / Section -->


	<!-- Section -->
	<section class="awe-section bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ">

					<!-- title -->
					<div class="title">
						<h2 class="title__title">Stuff that matters to us</h2>
					</div><!-- End / title -->

				</div>
			</div>
			<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
				<div class="grid__inner">
					<div class="grid-sizer"></div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/books">

										<!-- hoverbox ef-slide-bottom -->
										<div class="hoverbox ef-slide-bottom light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/books.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">Book Reviews and a reader log</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-slide-bottom -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/trips">

										<!-- hoverbox ef-move-top -->
										<div class="hoverbox ef-move-top light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/trips.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">Travelogues and travel photo galleries</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-move-top -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/panorama">

										<!-- hoverbox ef-slide-right -->
										<div class="hoverbox ef-slide-right light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/panorama.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">Panorama: A Selection of Poems</h2><span class="work__text">View detail</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-slide-right -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/blog">

										<!-- hoverbox ef-zoom-in -->
										<div class="hoverbox ef-zoom-in light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/blog.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">An old, unmaintained Blog</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-zoom-in -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/classical">

										<!-- hoverbox ef-zoom-in -->
										<div class="hoverbox ef-zoom-in light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/classical.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">All about Classical Music</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-zoom-in -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/comics">

										<!-- hoverbox ef-slide-right -->
										<div class="hoverbox ef-slide-right light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/comics.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">Comic and Graphic novel reviews and reader log</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-slide-right -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/rpi">

										<!-- hoverbox ef-move-right -->
										<div class="hoverbox ef-move-right light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/selfhosted.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">Adventures with Self hosting</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-move-right -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- work -->
								<div class="work"><a href="/art">

										<!-- hoverbox ef-move-bottom -->
										<div class="hoverbox ef-move-bottom light">

											<!-- hb_front -->
											<div class="hb_front"><img src="/images/front/art.jpg" alt=""/>
											</div><!-- End / hb_front -->


											<!-- hb_back -->
											<div class="hb_back">
												<h2 class="work__title">Appreciating Art</h2><span class="work__text">View detail</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-move-bottom -->
										</a>
								</div><!-- End / work -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="awe-text-center mt-50">
				<a class="md-btn md-btn--outline-primary" href="#">all work
				</a>
			</div>
		</div>
	</section>
	<!-- End / Section -->

</div>
<!-- End / Content-->
{%include bottom.html%}
