---
layout: null
title: ShillyAsh
description: {{site.description}}
sitemap:
    priority: 1.0
    lastmod: 2023-04-12
    changefreq: weekly
intro: true
needmasonry: true
---
{% include top.html %}
<!-- Content-->
<div class="wil-content">

	<!-- Section -->
	<section class="awe-section">
		<div class="container">

			<!-- page-title -->
			<div class="page-title">
				<h1 class="page-title__title">{{site.bio}}

					<!-- typing__module -->
					<!--div class="typing__module">
						<div class="typed-strings"><span>'m a web designer</span><span> do creative</span><span>'m a frontend developer</span>
						</div><span class="typed"></span>
					</div--><!-- End / typing__module -->

				</h1>
				<p class="page-title__text">{{site.description}}</p>
				<div class="page-title__divider"></div>
			</div><!-- End / page-title -->

		</div>
	</section>
	<!-- End / Section -->


	<!-- Section -->
	<section class="awe-section bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ">

					<!-- title -->
					<div class="title">
						<h2 class="title__title">Stuff that matters to us</h2>
					</div><!-- End / title -->

				</div>
			</div>
			<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
				<div class="grid__inner">
					<div class="grid-sizer"></div>
					{% for item in site.data.navigation %}
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">
								<!-- work -->
								<div class="work"><a href="{{item.link}}">

										<!-- hoverbox ef-slide-bottom -->
										<div class="hoverbox ef-{{item.hover}} light">

											<!-- hb_front -->
											<div class="hb_front"><img src="{{item.img}}" alt="{{item.name}}"/>
											</div><!-- End / hb_front -->

											<!-- hb_back -->
											<div class="hb_back">
													<h2 class="work__title">{{item.long}}</h2><span class="work__text">More</span>
											</div><!-- End / hb_back -->

										</div><!-- End / hoverbox ef-slide-bottom -->
										</a>
								</div><!-- End / work -->
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="awe-text-center mt-50">
				<a class="md-btn md-btn--outline-primary" href="#">all work
				</a>
			</div>
		</div>
	</section>
	<!-- End / Section -->

</div>
<!-- End / Content-->
{%include bottom.html%}
