<table class="sortable">
	<thead><tr><th>Composer</th>
		<th>Home</th>
		<th>Country</th>
		<th>Born</th>
		<th>Died</th>
	</tr></thead><tbody>
	{% for item in site.data.classical | sort: order %}{% if item.schools contains page.school %}
		<tr>
		<td data-sort="{{ item.title }}"><a href="/classical/{{ item.name }}/">{{ item.title }}</a></td>
		<td data-sort="{{ item.home }}">{{ item.home }}</td>
		<td data-sort="{{ item.country }}">{{ item.country }}</td>
		<td data-sort="{{ item.born }}">{{ item.born }}</td>
		<td data-sort="{{ item.died }}">{{ item.died }}</td>
		</tr>
	{% endif %}{% endfor %}
</tbody></table>
