<footer>
<div class="pagination">{% if paginator.total_pages > 1 %}
	{% if paginator.first_page %}
		<a href="{{ paginator.first_page_path | absolute_url }}" class="previous">First</a>
	{% endif %}
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | absolute_url }}" class="previous">Previous</a>
	{% endif %}
	{% if paginator.page_trail %}
	{% for trail in paginator.page_trail %}
		{% if page.url == trail.path %}
			{% assign trclass = "page active" %}
		{% else %}
			{% assign trclass = "page" %}
		{% endif %}
		<a href="{{ trail.path | absoloute_url }}" title="{{trail.title}}" class="{{trclass}}">{{ trail.num }}</a>
	{% endfor %}
	{% endif %}

	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | absolute_url }}" class="next">Next</a>
	{% endif %}

	{% if paginator.last_page %}
		<a href="{{ paginator.last_page_path | absolute_url }}" class="next">Last</a>
	{% endif %}
{% endif %}</div>
</footer>
