---
title: Comics
---
{% include top.html %}
<section class="posts">
	{% for page in site.pages reversed %}{%if page.comic %}<article>
		<header><h3><a href="{{ page.url  | absolute_url }}">{{ page.title }}</a></h3></header>
		<a href="{{page.url | absolute_url }}" class="image fit"><img src="{{page.image}}" alt="{{page.title}}" /></a>
		<p>{{page.description}}</p>
		<ul class="actions"><li><a href="{{page.url | absolute_url }}" class="button">Full Story</a></li></ul>
	</article>{%endif%}{% endfor %}
</section>
{% include bottom.html %}
