{%include top.html %}
<!-- Content-->
<div class="wil-content">
	<!-- Section -->
	<section class="awe-section">
		<div class="container">
			<!-- page-title -->
			<div class="page-title pb-40">
				{% include breadcrumbs.html %}
				<h1 class="page-title__title">{{page.title}}</h1>
				<div class="post-detail__meta">
					{%if page.author %}<span class="author">by {{page.author}}</span>{%endif%}
					{%if page.date %}<span class="date">&mdash; {{page.date | date_to_string}}</span>{%endif %}
				</div>
				<p class="page-title__text">{{page.description}}</p>
				<div class="page-title__divider"></div>
			</div><!-- End / page-title -->
		</div>
	</section>
	<!-- End / Section -->

	<!-- Section -->
	<section class="awe-section bg-gray">
		<div class="container">
			<!--  -->
			<div>
				{% if page.collection != 'books' %}{%if page.image %}
				<div class="post-detail__media"><img src="{{page.image}}" alt=""></div>
				{%endif%}{%endif%}
				<div class="post-detail__entry row">
					<div class="col-md-12 post__text">
						{% if page.collection == 'books' %}
						<img src="{{page.image}}" class="image right" />
						{%endif%}
						{{content}}
					</div>
				</div>
			</div><!-- End /  -->
		</div>
	</section>

	<section class="awe-section">
		<div class="container">
			{% include disqus.html %}
		</div>
	</section>
	
</div>
<!-- End / Content-->
{%include bottom.html%}
