{%include top.html %}
<!-- Content-->
<div class="wil-content">
	<!-- Section -->
	<section class="awe-section">
		<div class="container">
			<!-- page-title -->
			<div class="page-title pb-40">
				{% include breadcrumbs.html %}
				<h2 class="page-title__title">{{page.title}}</h2>
				<p class="page-title__text">{{page.description}}</p>
				<div class="page-title__divider"></div>
			</div><!-- End / page-title -->
		</div>
	</section>
	<!-- End / Section -->

	<!-- Section -->
	<section class="awe-section bg-gray">
		<div class="container">
			<!--  -->
			<div>
				{%if page.image %}
				<div class="post-detail__media">
					<img src="{{page.image}}" alt="">
				</div>{%endif%}
				<div class="post-detail__entry row">
					<div class="col-md-12 post__text">
						{{content}}
					</div>
				</div>
			</div><!-- End /  -->
			<div class="awe-text-center mt-50">
				{% if page.prev %}<a href="{{page.prev}}" class="md-btn md-btn--outline-primary">Previous</a>{% endif %}
				{% if page.up %}<a href="{{page.up}}" class="md-btn md-btn--outline-primary">Up</a>{% endif %}
				{% if page.successor %}<a href="{{page.successor}}" class="md-btn md-btn--outline-primary">Next</a>{% endif %}
			</div>	
		</div>
	</section>

	<section class="awe-section">
		<div class="container">
			{% include disqus.html %}
		</div>
	</section>
	
</div>
<!-- End / Content-->
{%include bottom.html%}
